body {
    background-image: url('https://www.nasa.gov/sites/default/files/thumbnails/image/astronauts_lunar_craterv2.png');
    background-color: black;
}
h2 {
    color: #fff;
}
.navbar-brand{
    font-family: 'Turret Road', cursive;
}
/* h3 {
    padding: 20px;
    color: white;
    font-size: 30px;
} */
#message {
    padding: 60px;
    color: white;
    font-family: 'Turret Road', bold;
    color: greenyellow;
    font-size: 40px;
    
}
.results {
    padding: 60px;
    
    font-size: 25px;
}
.unsure{
    color: white;
}
.sure {
    color: greenyellow;
}
/* #upload-file {} */
.upload-label {
    color: white;
    background-color: #343a40;
    padding: 12px 30px;
}
.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #343a40;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}
* {
    border-radius: 0 !important;
}
.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #343a40;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}
#btn-predict {
    display: inline-block;
    padding: 12px 30px;
    color: white;
    background-color: #343a40;
    border: #343a40;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid yellow; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
#footer {
    background-color: #343a40;
    font-family: 'Turret Road';
    position: fixed;
    bottom: 0;
    width: 100%;

}
#footer-text {
    color: white;
    text-align: right;
    font-size: 20px;
    padding: 10px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
