{% extends "base.html" %} {% block content %}

<h2>Let's get to know the Moon Rocks!</h2>

<div>
    
                   <form id="upload-file" method="post" enctype="multipart/form-data">
                    <div>
                            <label for="imageUpload" class="upload-label">
                                    Upload image
                            </label>

                    </div>

                    <input type="file" name="image" id="imageUpload" accept=".png, .jpg, .jpeg">
                </form>
                <div class="row">
                    <div class="column"> 
                        <div class="image-section" style="display:none;">
                            <div class="img-preview">
                                <div id="imagePreview">
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary btn-lg btn-light" id="btn-predict">Predict!</button>
                            </div>
                        </div>
                    </div>
                    <div class="column">    
                        <div class="loader" style="display:none;"></div>
                            <div>
                                <div id="result" class="results">
                                        <span> </span>
                                </div>
                            </div>
                    </div>
                    <div class = "column" id="message">

                    </div>
              </div> 




</div>

{% endblock %}
